@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
}

header {
    background: url(/imagens/menu.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;  
}

menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    padding-top: 5px;

    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
}

menu > ul {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    list-style-type: none;
}

li > a {
    text-decoration: none;
    color: white;
}

li > .escrito:hover {
    color: rgb(218, 165, 32);
    padding-bottom: 5px;
    border-bottom: 3px solid white;
}

/*
#texto {
    width: 94vw;
    height: 85vh;
    border-radius: 10px;
    text-align: center;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    overflow: hidden;
}*/

#texto {
    display: inline-block;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#texto > p {
    padding-top: 320px;
    font-size: 2.5em;
    margin: 0 270px;
    padding-bottom: 5px;
}

#texto > button {
    padding: 10px;
    background-color: rgb(36, 35, 35);
    color: white;
    border: 2px solid rgb(36, 35, 35);
    cursor: pointer;
}

#texto > button:hover {
    color: rgb(218, 165, 32);
    border: 2px solid white;
}

/* Começo do serviços */

#servicos {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    margin: auto;
    padding: 100px 0px;
    max-width: 900px;
}

.servicos { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;

    padding: 50px;
}

#servicos > h1 {
    font-size: 1.2em;
    padding-bottom: 5px;
}

#servicos > h2 {
    font-size: 3em;
    padding-bottom: 25px;
}

.quadro {
    max-width: 500px;
}

.quadro > a {
    text-decoration: none;
    padding: 10px 0px;
}

.quadro > a > h3 {
    font-size: 1.5em;
    padding: 10px 0px;
}

.quadro > p {
    max-width: 250px;
}

/* Começo do parallax */

#parallax {
    background-image: url(/imagens/parallax.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    width: 100vw;
    height: 540px;

    display: inline-block;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#parallax > h1 {
    padding-top: 185px;
    font-size: 1.2em;
    color: white;
}

#parallax > h2 {
    font-size: 3em;
    padding-bottom: 15px;
    color: white;
}

#parallax > button {
    padding: 13px;
    background-color: rgb(36, 35, 35);
    border: 1px solid rgb(36, 35, 35);
    color: white;
}

#parallax > button:hover {
    cursor: pointer;
    color: rgb(218, 165, 32);
    border: 1px solid white;
}

/* Inicio da equipe */

#equipe {
    text-align: center;
    padding: 130px;
    
}

#equipe > h1 {
    font-size: 1.2em;
}

#equipe > h2 {
    font-size: 3em;
}

#equipe-div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

#equipe-div > aside > p {
    text-align: center;
    padding-bottom: 10px;
}

.equipe-texto {
    padding: 25px 10px;
}

.equipe-texto > h3 {
    padding: 5px;
}

.equipe-texto > h5 {
    padding-bottom: 10px;
    color: darkgray;
}

.equipe-social-facebook {
    background-color: darkgray;
    padding: 10px 10px;
}

.equipe-social-twitter {
    background-color: darkgray;
    padding: 11.9px 10px;
}

.equipe-social-instagram {
    background-color: darkgray;
    padding: 10px;
}

.equipe-social-facebook:hover {
    background-color: #5973A8;
    padding: 10px 10px;
}

.equipe-social-twitter:hover {
    background-color: #55ACEE;
    padding: 11.9px 10px;
}

.equipe-social-instagram:hover {
    background-color: #FF0068;
    padding: 10px;
}

/* Começo do parallax */

#parallax2 {
    background-image: url(/imagens/parallax2.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    width: 100vw;
    height: 540px;

    display: inline-block;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#parallax2 > h1 {
    padding-top: 185px;
    font-size: 1.2em;
    color: white;
}

#parallax2 > h2 {
    font-size: 3em;
    padding-bottom: 15px;
    color: white;
}

#parallax2 > button {
    padding: 13px;
    background-color: rgb(36, 35, 35);
    border: 1px solid rgb(36, 35, 35);
    color: white;
}

#parallax2 > button:hover {
    cursor: pointer;
    color: rgb(218, 165, 32);
    border: 1px solid white;
}

/* Começo dos preços */

.precos {
    padding: 130px;
    text-align: center;
}

.precos > h1 {
    font-size: 1.2em;
}

.precos > h2 {
    font-size: 3em;
    padding: 15px 0px 30px 0px;
}

.precos-quadro-div {
    display: flex;
    flex-direction: row;
    text-align: start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.precos-quadro {
    background-color: #EEF0F3;
    padding: 10px;
    height: 400px;
    min-width: 300px;
    border-top: 3px solid #969696;
}

.precos-quadro > h4 {
    font-size: 1.2em;
    padding: 10px 0px;
    border-bottom: 3px solid #DCDFE3;
}

.precos-valor {
    font-size: 1.5em;
    padding: 15px 0px;
}

.precos-texto {
    font-size: 1.1em;
    padding: 7px 0px;
    border-bottom: 3px solid #DCDFE3;
}

#precos-lista {
    list-style-type: '\2705';
    list-style-position: inside;
    padding-top: 25px;
}

.padding1 {
    padding-bottom: 100px;
}

.padding2 {
    padding-bottom: 57px;
}

.padding3 {
    padding-bottom: 35px;
}

.precos-botao {
    height: 50px;
    width: 99%;
    background-color: #969696;
    border: #969696;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.precos-botao:hover {
    background-color: #16C60C;
}

/* Começo da fita */

#fita {
    height: 85px;
    width: 100%;
    background-color: #108a0ab0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.fita {
    color: white;
    font-size: 1.5em;
}

.fita-botao {
    padding: 15px;
    margin-left: 50px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid transparent;
}

.fita-botao:hover {
    background-color: #FF0068;
    color: white;
    border: 1px solid #FF0068;
}

/* Começo do Fale Conosco*/

.dados {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    background-color: white;

    width: 50%;
    height: 600px;
}

.dados > h1 {
    font-size: 1.2em;
    padding-bottom: 5px;
}

.dados > h2 {
    font-size: 3em;
    padding-bottom: 25px;
}

.dados > p {
    padding: 5px;
}

#fale-conosco-dados-p {
    padding-bottom: 40px;
}

#fale-conosco-dados-p2 {
    padding-bottom: 20px;
}

/* Formulario/Fale Conosco */

.formulario {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    width: 50%;
    height: 600px;
    background-color: #F5F5F5;
}

.formulario > h1 {
    font-size: 1.2em;
    padding-bottom: 5px;
}

.formulario > h2 {
    font-size: 3em;
    padding-bottom: 25px;
}

.formulario-fale-conosco {
    padding: 10px;
    width: 25%;
}

.formulario-caixa-de-texto {
    width: 53.3%;
    padding: 10px;
}

.formulario-botao {
    padding: 10px;
    width: 55.6%;

}

footer {
    background: #121416;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    padding: 10px;
}

footer > ul {
    display: inline-flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    list-style: none;

    padding: 35px 0px 15px 0px;
}

footer > p {
    color: #969696;
    padding-top: 5px;
    padding-bottom: 35px;
}

footer > ul > li > a:hover {
    color: #16C60C;
}

footer > p > a {
    text-decoration: none;
    color: white;
}

footer > p > a:hover {
    color: #16C60C;
}

