@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor0: #FFFFFF;
    --cor1: #000000;
    --cor2: #FFC234;
    --cor3: #058ED9;
    --cor4: #16C60C;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

body {
    overflow-x: hidden;
}
  
.botao-whatsapp {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 25px;
    bottom: 40px;
    background-color: #25d366;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    box-shadow: 1px 1px 2px black;
    z-index: 100;
}

.icone-whatsapp {
    margin-top: 11px;
}

nav > ul > li > a {
    color: var(--cor0);
    text-decoration: none;
    transition: 0.3s;
}
  
nav > ul > li > a:hover {
    opacity: 0.7;
}
  
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: var(--cor1);
    height: 10%;
    width: 100%;
    position: fixed;
}
  
main {
    background: url("../imagens/menu.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 87px;
    height: 91vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.473);
}

main > p {
    max-width: 900px;
    font-size: 2em;
    padding-bottom: 15px;
    letter-spacing: 1px;
}

main > button {
    padding: 13px;
    background-color: rgb(36, 35, 35);
    border: 1px solid rgb(36, 35, 35);
    color: var(--cor0);
}

main > button:hover {
    cursor: pointer;
    color: var(--cor2);
    border: 1px solid var(--cor0);
}
  
.nav-list {
    list-style: none;
    display: flex;
}
  
.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
  
.mobile-menu {
    display: none;
    cursor: pointer;
}
  
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--cor0);
    margin: 8px;
    transition: 0.3s;
}
  
.nav-list.active {
    transform: translateX(0);
}
  
@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
  
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
  
.mobile-menu.active .line2 {
    opacity: 0;
}
  
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/* Começo do serviços */

#servicos {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    margin: auto;
    padding: 100px 0px;
    max-width: 900px;
}

.servicos { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;

    padding: 50px;
}

#servicos > h1 {
    font-size: 1.2em;
    padding-bottom: 5px;
}

#servicos > h2 {
    font-size: 3em;
    padding-bottom: 25px;
}

.quadro {
    max-width: 500px;
}

.quadro > a {
    text-decoration: none;
    padding: 10px 0px;
}

.quadro > a > h3 {
    font-size: 1.5em;
    padding: 10px 0px;
}

.quadro > p {
    max-width: 250px;
}

/* Começo do parallax */

#parallax {
    background-image: url(../imagens/parallax.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    width: 100vw;
    height: 540px;

    display: inline-block;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.473);
}

#parallax > h1 {
    padding-top: 185px;
    font-size: 1.2em;
    color: var(--cor0);
}

#parallax > h2 {
    font-size: 3em;
    padding-bottom: 15px;
    color: var(--cor0);
}

#parallax > button {
    padding: 13px;
    background-color: rgb(36, 35, 35);
    border: 1px solid rgb(36, 35, 35);
    color: var(--cor0);
}

#parallax > button:hover {
    cursor: pointer;
    color: var(--cor2);
    border: 1px solid white;
}

/* Inicio da equipe */

#equipe {
    text-align: center;
    padding: 130px;
}

#equipe > h1 {
    font-size: 1.2em;
}

#equipe > h2 {
    font-size: 3em;
}

#equipe-div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

#equipe-div > aside > p {
    text-align: center;
    padding-bottom: 10px;
}

.equipe-texto {
    padding: 25px 10px;
}

.equipe-texto > h3 {
    padding: 5px;
}

.equipe-texto > h5 {
    padding-bottom: 10px;
    color: darkgray;
}

.equipe-social-facebook {
    background-color: darkgray;
    padding: 10px 10px;
}

.equipe-social-twitter {
    background-color: darkgray;
    padding: 11.9px 10px;
}

.equipe-social-instagram {
    background-color: darkgray;
    padding: 10px;
}

.equipe-social-facebook:hover {
    background-color: #5973A8;
    padding: 10px 10px;
}

.equipe-social-twitter:hover {
    background-color: #55ACEE;
    padding: 11.9px 10px;
}

.equipe-social-instagram:hover {
    background-color: #FF0068;
    padding: 10px;
}

/* Começo do parallax */

#parallax2 {
    background-image: url(../imagens/parallax2.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    width: 100vw;
    height: 540px;

    display: inline-block;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.473);
}

#parallax2 > h1 {
    padding-top: 185px;
    font-size: 1.2em;
    color: var(--cor0);
}

#parallax2 > h2 {
    font-size: 3em;
    padding-bottom: 15px;
    color: var(--cor0);
}

#parallax2 > button {
    padding: 13px;
    background-color: rgb(36, 35, 35);
    border: 1px solid rgb(36, 35, 35);
    color: var(--cor0);
}

#parallax2 > button:hover {
    cursor: pointer;
    color: var(--cor2);
    border: 1px solid var(--cor0);
}

/* Começo dos preços */

.precos {
    padding: 130px;
    text-align: center;
}

.precos > h1 {
    font-size: 1.2em;
}

.precos > h2 {
    font-size: 3em;
    padding: 15px 0px 30px 0px;
}

.precos-quadro-div {
    display: flex;
    flex-direction: row;
    text-align: start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.precos-quadro {
    background-color: #EEF0F3;
    padding: 10px;
    height: 400px;
    min-width: 300px;
    border-top: 3px solid #969696;
}

.precos-quadro > h4 {
    font-size: 1.2em;
    padding: 10px 0px;
    border-bottom: 3px solid #DCDFE3;
}

.precos-valor {
    font-size: 1.5em;
    padding: 15px 0px;
}

.precos-texto {
    font-size: 1.1em;
    padding: 7px 0px;
    border-bottom: 3px solid #DCDFE3;
}

#precos-lista {
    list-style-type: '\2705';
    list-style-position: inside;
    padding-top: 25px;
}

.padding1 {
    padding-bottom: 100px;
}

.padding2 {
    padding-bottom: 57px;
}

.padding3 {
    padding-bottom: 35px;
}

.precos-botao {
    height: 50px;
    width: 99%;
    background-color: #969696;
    border: #969696;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.precos-botao:hover {
    background-color: var(--cor4);
}

/* Começo da fita */

#fita {
    height: 85px;
    width: 100%;
    background-color: #108a0ab0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.fita {
    color: white;
    font-size: 1.5em;
}

.fita-botao {
    padding: 15px;
    margin-left: 50px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid transparent;
}

.fita-botao:hover {
    background-color: #FF0068;
    color: white;
    border: 1px solid #FF0068;
}

/* Começo do Fale Conosco*/

.dados {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    background-color: var(--cor0);

    width: 50%;
    height: 600px;
}

.dados > h1 {
    font-size: 1.2em;
    padding-bottom: 5px;
}

.dados > h2 {
    font-size: 3em;
    padding-bottom: 25px;
}

.dados > p {
    padding: 5px;
}

#fale-conosco-dados-p {
    padding-bottom: 40px;
}

#fale-conosco-dados-p2 {
    padding-bottom: 20px;
}

/* Formulario/Fale Conosco */

.formulario {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    width: 50%;
    height: 600px;
    background-color: #F5F5F5;
}

.formulario > h1 {
    font-size: 1.2em;
    padding-bottom: 5px;
}

.formulario > h2 {
    font-size: 3em;
    padding-bottom: 25px;
}

.formulario-fale-conosco {
    padding: 10px;
    width: 25%;
}

.formulario-caixa-de-texto {
    width: 53.3%;
    padding: 10px;
}

.formulario-botao {
    padding: 10px;
    width: 55.6%;

}

footer {
    background: #121416;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    padding: 10px;
}

footer > ul {
    display: inline-flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    list-style: none;

    padding: 35px 0px 15px 0px;
}

footer > p {
    color: #969696;
    padding-top: 5px;
    padding-bottom: 35px;
}

footer > ul > li > a {
    text-decoration: none;
    color: white;
}

footer > ul > li > a:hover {
    color: #16C60C;
}

footer > p > a {
    text-decoration: none;
    color: white;
}

footer > p > a:hover {
    color: #16C60C;
}